<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-3 contactinfo-icon">
            <a><i class="fas fa-map-marker fa-7x"></i></a>
        </div>
        <div class="col-xs-12 col-sm-9 contactinfo-desc">
            <a class="address"><address>ایران  تهران  میدان هروی  خیابان شهید پناهی نیا  کوچه سوم  پلاک ۴۸</address></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 contactinfo-icon">
            <a href="tel:+989121204845"><i class="fas fa-phone-square fa-6x"></i></a>
        </div>
        <div class="col-xs-12 col-sm-9 contactinfo-desc">
            <a href="tel:+989121204845" class="tel-number">+۹۸۹۱۲۱۲۰۴۸۴۵</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 contactinfo-icon">
            <a><i id="contactus-toggle-button" class="far fa-envelope fa-6x"></i></a>
        </div>
        <div class="col-xs-12 col-sm-9 contactinfo-desc">
            <a href="mailto:support@LaserAfzar.ir" class="email-address">support@LaserAfzar.ir</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3 contactinfo-icon">
            <a href="/ContactUs/UserContactUS"><i id="contactus-toggle-button" class="fas fa-file-alt fa-7x"></i></a>
        </div>
        <div class="col-xs-12 col-sm-9 contactinfo-desc">
            <a href="/ContactUs/UserContactUS">فرم تماس با ما</a>
        </div>
    </div>
</div>