<div class="row">

    <div class="is-table-row" id="uploadResultBox">
        <div class="col-xs-10 upload-preview-div align-middle justify-content-center text-center">
            <img id="imgUploadedResult" class="img-result" src="../../../@ViewBag.ImageDirectory/@Model.FileName">
        </div>
    </div>
</div>
